@import "tailwindcss";

.scrollbar::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #CBCECD;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #688da1;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4d6d7e;
}

.mobile-swiper .swiper-pagination-bullet {
  background: #bbb;
}

.mobile-swiper .swiper-pagination-bullet-active {
  background: #4d6d7e !important;
}

.mobile-swiper .swiper-button-next,
.mobile-swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  color: #4d6d7e;
}

.desktop-swiper .swiper-pagination-bullet {
  background: #bbb;
}

.desktop-swiper .swiper-pagination-bullet-active {
  background: #4d6d7e !important;
}

.desktop-swiper .swiper-button-next,
.desktop-swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  color: #4d6d7e;
}

.desktop-swiper .swiper-button-next {
  
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.stroke {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}